html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    background-color: #f90;
    color: #fff;

    body {
        max-width: 1000px;
        background-color: #fff;
        color: #000;
        margin: 2em auto;
    }

    a {
        &:link, &:visited {
            color: #c00;
        }

        &:hover, &:active {
            color: #f00;
        }
    }
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em;
    font-size: .8em;

    h1 {
        font-size: 200%;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}

main {
    padding: 2em;

    h1 {
        font-weight: normal;
        margin-top: 0;

        &.addmargin {
            margin-top: 1em;
        }
    }

    h2 {
        font-weight: normal;
    }

    .info {
        background-color: rgba(255, 153, 0, 0.5);
        padding: 1em;
    }

    .signature {
        margin: 6em 0 0 66%;
        border-top: 1px dotted #000;
        text-align: center;
    }

    input, textarea {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        background-color: #fff;
        color: #000;
        border: 2px solid #c00;
        padding: .25em;
        width: 100%;
        overflow: visible;
        resize: vertical;

        &::placeholder {
            color: #c00;
        }

        &#datum {
            max-width: 33%;
        }
    }
}

footer {
    padding: 1em;
    font-size: .8em;
    text-align: center;
}

p.buttons {
    margin-top: 3em;

    a {
        padding: .5em 2em;
        text-decoration: none;

        &:link, &:visited {
            background-color: #900;
            color: #fff;
        }

        &:hover, &:active {
            background-color: #300;
            color: #ff0;
        }
    }
}

dl {
    dt {
        font-weight: bold;
        margin-top: 1em;
    }

    dd {
        margin: .25em 0 0 0;
    }
}
