@page

<h1>Veřejní funkcionáři a ústavní činitelé</h1>

<p>Nepotřebujete čestné prohlášení. Prokazujete se svým průkazem (např. poslanecký průkaz), případně vám potvrzení vystaví orgán, pro který pracujete.</p>

<p class="buttons">
    <a asp-page="Index" class="secondary">Začít znovu</a>
</p>