@page

<div class="info">
    <p>Tento web slouží ke generování čestných prohlášení, která potřebujete pro opuštění okresu v době omezení volného pohybu, které vyhlásila vláda ČR svým usnesením č. 216 ze dne 26. února 2021.</p>
    <p>Aplikace vám položí několik jednoduchých otázek a na základě vašich odpovědí vygeneruje dokument, který stačí vytisknout a vzít s sebou.</p>
</div>

<h1 class="addmargin">Kde se budete pohybovat?</h1>

<p>Omezení pohybu se vztahuje na území <b>okresu</b> v němž máte adresu <b>trvalého pobytu</b> nebo <b>bydliště</b>.</p>

<ul>
    <li><b>Okresem</b> se rozumí v případě Prahy <b>celá Praha</b>, mezi jejími jednotlivými částmi je možné se pohybovat bez omezení. Pro <b>Brno</b> platí, že se okresy Brno - město a Brno - venkov berou jako jeden okres. Podobně to platí v <b>Plzni</b>.</li>
    <li><b>Trvalý pobyt</b> je adresa, kterou máte v občance. Může a nemusí se shodovat s adresou bydliště.</li>
    <li><b>Bydliště</b> je místo, kde skutečně bydlíte, kde se obecně zdržujete. Neeviduje se nikde a k jeho osvědčení stačí vaše tvrzení, nepotřebujete dokládat žádné doklady, nájemní smlouvu apod.</li>
</ul>

<p>Budete se pohybovat mimo okres, kde máte trvalý pobyt nebo bydliště?</p>

<p class="buttons">
    <a asp-page="Vyjimky">Ano</a>
    <a asp-page="Netreba">Ne</a>
</p>
<div class="info">
    <h1>Otázky a odpovědi</h1>
    <dl>
        <dt>Je nutné čestné prohlášení tisknout na papír?</dt>
        <dd>Není. Usnesení vyžaduje formu <i>písemnou</i>, nikoliv <i>listinnou</i>. Je tedy možné vygenerovaný formulář uložit do PDF, tam podepsat a poté používat elektronicky. Výroky různých policejních čičmundů, že budou trvat na listinné podobě, nemají žádnou zákonnou oporu.</dd>
        <dd>Na druhé straně, pro většinu lidí je asi jednodušší dokument vytisknout, než laborovat s podepisováním PDF a podobně.</dd>

        <dt>Mohu místo čestného prohlášení použít jiné doklady?</dt>
        <dd>Ano, můžete. Ale použití čestného prohlášení je pro většinu důvodů nejjednodušší.</dd>

        <dt>Jsou zde uvedené důvody jediné, pro které lze opustit okres?</dt>
        <dd>Nikoliv. Existuje celá řada dalších výjimek (právo sdružovací a shromažďovací, myslivost atd.), které nejsou v režimu podle tohoto usnesení. Řídí se jinými pravidly, potřebujete jiný druh dokladů nebo naopak nepotřebujete ani to čestné prohlášení. Jsou tak mimo určení tohoto webu.</dd>

        <dt>Kdo je autorem a provozovatelem tohoto webu?</dt>
        <dd>Michal Altair Valášek. Pokud se o mně chcete dozvědět víc, podívejte se na <a href="https://www.rider.cz/">www.rider.cz</a> nebo si přečtěte můj blog na <a href="https://www.altair.blog">www.altair.blog</a>.</dd>

        <dt>Kdo platí provoz tohoto webu?</dt>
        <dd>Já, ze svých soukromých prostředků. Náklady na provoz jsou minimální, protože vše je pár statických stránek, které jsou provozovány v rámci bezplatné služby GitHub Pages.</dd>

        <dt>Jsou s provozem tohoto webu spojeny nějaké záruky?</dt>
        <dd>Ne. Aplikaci používáte výhradně na vlastní nebezpečí.</dd>

        <dt>Našel jsem nějakou chybu. Co mám dělat?</dt>
        <dd>Pokud víte jak, můžete ji opravit na <a href="https://github.com/ridercz/Prohlaseni">GitHubu</a> a poslat mi pull request. Pokud ne, kontaktujte mne.</dd>

        <dt>Jak mohu kontaktovat autora?</dt>
        <dd>Nejlépe e-mailem, na adresu <i>prohlaseni (zavináč) rider.cz</i>.</dd>
    </dl>
</div>