@page

<div class="info"><p><b>Nouzový stav byl ukončen v neděli 11. dubna 2021 a s ním skončilo i omezení cestování mezi okresy.</b> Tento web tedy není již nadále potřebný, i když jej od 1. března navštívilo přes 200 000 uživatelů, kteří vygenerovali přes 550 000 čestných prohlášení.</p></div>

<p>Na pomoc v boji proti blbým nápadům státu jsem nicméně dále připraven a pokud se situace bude opakovat, tento web rychle ožije.</p>

<p>Chcete-li se víc dozvědět o mně a mých dalších projektech, podívejte se sem:</p>
<ul>
    <li><a href="https://www.rider.cz/">Osobní stránka</a></li>
    <li><a href="https://www.altair.blog/">Blog</a> (původní články a odkazy na všechny moje články vydané jinde)</li>
    <li><a href="https://www.facebook.com/rider.cz">Facebook</a></li>
    <li><a href="https://twitter.com/ridercz">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/ridercz/">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/AltairBlog">YouTube</a></li>
</ul>

<p>Pokud se chcete podívat, jak web fungoval, můžete si ho <a asp-page="Start">nadále vyzkoušet</a>.</p>