@page

<h1>Doklad o výkonu podnikatelské nebo obdobné činnosti</h1>

<div class="info">
    <p>Vyplňte červeně označená pole a poté klepněte na tlačítko <i>Vytisknout</i> niže. Vytištěný dokument podepište a vezměte ho na cestu s sebou. Slouží i pro cestu zpět. Nepotřebujete žádné další dokumenty či doklady.</p>
    <p>Vyplněné údaje se nikam neodesílají, nejsou nikde zaznamenávány ani ukládány, vše probíhá čistě ve vašem prohlížeči.</p>
</div>

<p>
    <label for="jmeno">Jméno a příjmení:</label><br />
    <input type="text" id="jmeno" placeholder="Jan Novák" />
</p>
<p>
    <label for="adresa">Adresa trvalého pobytu nebo bydliště:</label><br />
    <input type="text" id="adresa" placeholder="Hlavní náměstí 1, Kocourkov" />
</p>
<p>
    <label for="doklad">Číslo dokladu (občanský průkaz, pas):</label><br />
    <input type="text" id="doklad" placeholder="OP AB123456" />
</p>
<p>
    <label for="misto">Cestuji do následujícího místa:</label><br />
    <input type="text" id="misto" placeholder="Hlavní ulice 37, Horní Dolní" />
</p>
<p>
    <label for="popis">Popis vykonávané činnosti:</label><br />
    <input type="text" id="popis" placeholder="Zednické práce při stavbě domu." />
</p>
<p>
    <label for="objednatel">Kontaktní údaje objednatele nebo osoby, u níž se práce vykonávají:</label><br />
    <input type="text" id="objednatel" placeholder="Petr Svoboda, tel. 721 234 567" />
</p>

<p>Tento doklad se vydává podle bodu IV. 1 usnesení vlády ČR ze dne 26. února 2021 č. 216.</p>

<p>
    <label for="datum">Datum:</label><br />
    <input type="text" id="datum" />
</p>

<p class="signature">podpis</p>

<p class="buttons">
    <a href="javascript:window.print()">Vytisknout</a>
    <a asp-page="Index">Začít znovu</a>
</p>