@page

<h1>Cesta do práce</h1>

<p>Pro cesty do zaměstnání potřebujete jeden z následujících dokumentů:</p>
<ol type="a">
    <li><b>Potvrzení vydané zaměstnavatelem.</b> Pro jeho vytvoření může zaměstnavatel použít formulář na webu MVČR (<a href="https://www.mvcr.cz/soubor/vzor-potvrzeni-zamestnavatele-na-cesty-do-mista-vykonu-prace-docx.aspx">DOCX</a>, <a href="https://www.mvcr.cz/soubor/vzor-potvrzeni-zamestnavatele-na-cesty-do-mista-vykonu-prace-pdf.aspx">PDF</a>)</li>
    <li><b>Pracovní smlouvu.</b></li>
    <li><b>Zaměstnanecký nebo obdobný průkaz,</b> pokud obsahuje potřebné údaje, zejména místo výkonu práce.</li>
</ol>

<p class="buttons">
    <a asp-page="Index" class="secondary">Začít znovu</a>
</p>